html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.box {
	display: inline-block;
	width: 150px;
	height: 150px;
	padding: 10px;
	background: tomato;
	color: white;
	border: 10px solid red;
}

.content-box {
	box-sizing: content-box;
}