.parent {
	border: 1px solid #333;
	height: 250px;
	width: 250px;
	position: relative;
}

.child {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}